.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
}

.App-header__tab {
  cursor: pointer;
  padding: 0 16px;
}

.create {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 500px;
  margin: 24px auto 0;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  font-size: 14px;
  line-height: 14px;
}

.create__row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 16px 0;
  width: 100%;
}

.create__row-label {
  flex: 1 0 25%;
  text-align: left;
}

.create__row-input {
  flex: 1 1 75%;
  width: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
}

input {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
}

button {
  padding: 12px 18px !important;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.create__button {
  margin-top: 24px;
}

.manage {
  display: flex;
  flex-flow: column nowrap;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 500px;
  margin: 24px auto 0;
}

.manage__section {
  width: 100%;
  padding: 12px 18px;
}

.manage__token-address-input {
  width: calc(100% - 32px);
}

.manage__row {
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 0;
  align-items: center;
}

.manage__label {
  flex: 1 0 25%;
  text-align: left;
  font-weight: 600;
}

.manage__value {
  flex: 1 1 75%;
  width: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 16px;
  color: rgba(0, 0, 0, .6);
}

.manage__token-info {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.manage__token-function {
  margin-top: 32px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.manage__section-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 8px 0;
  margin-bottom: 16px;
}

.manage__small-input-group {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.manage__small-input-group input {
  flex: 1 1 60%;
  width: 0;
}

.manage__small-input-group button {
  flex: 1 0 40%;
}

.manage__addresses-table {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 12px 0;
}

.manage__address-column,
.manage__amount-column {
  display: flex;
  flex-flow: column nowrap;
}

.manage__address-column {
  flex: 1 0 65%;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.manage__amount-column {
  flex: 1 0 35%;
}

.manage__amount-header,
.manage__address-header {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.manage__address-cell {
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 0;
}

.manage__amount-cell {
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 0;
}
